@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  display: flex;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  background-color:#F2F2F2;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  flex-direction: column;
  min-height: 100%;
  max-width: 1200px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
a {
  text-decoration: none;
  color: #000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  width: 1200px;
  background-color:#ffffff;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
  height: 64px;

}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 64px;
}
.navigation-list  {
  display: flex;
  flex-wrap: wrap;
  width: 492px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user {
  max-width: 492px;
  margin-left: auto;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-decoration: none;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.main-index {
  color: #000000;
}
.promo-logo {
  display: block;
  margin: 0 auto;
  background-position: center;
  padding-top: 41px;

}
.promo {
  color:#333333;
  background-color:#F2F2F2;
  background-image: url("../images/divider.svg"), url("../images/mountain.jpg");
  background-position: center bottom, center;
  background-size: 100% auto; /* автоматически расширяет фон при увеличении. Нужно сделать рамку и выставить картинку по центру*/
  background-repeat: no-repeat; /* убирает дублирование фоновой картинки*/
  height: 485px;
  padding: 0 51px;
}
.figure{
  margin: 0;
  width:1200px;
  }

.heading {
  text-align: center;
}
.heading-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase; /*делает все буквы заглавными*/
  text-align: center;
}
.heading-description {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color:#000000;
  list-style-type: none;
  }
.advantages-title{
  padding-top: 92px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.advantages-description {
  text-transform: inherit;
}
.advantages-item {
  background-color:rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
}
.advantages-item-col {
  width: 100%;
  display: flex;
}
.advantages-item:first-child, .advantages-item:last-child {
  display: flex;
  grid-column: 1/-1;
  color: #ffffff;
  background-color: #82b3d3;}

.sedona-services{
  text-align: center;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  padding-top: 80px;
  justify-content: space-between;

}
.services-item {
min-height: 384px;
list-style-type: none;
}
.services-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.services-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 415;
}
.caption  {
  text-align: center;}
.caption-title {
  text-transform: uppercase;
}
.caption {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:#474646;
}
.subscribe-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:#474646;
}
.subscribe{
  margin: 0 auto;
  background-image: url("../images/bridge_blurry.jpg");
  background-size: cover;
  width: 1200px;
  height: 415px;
  text-align: center;
  color:#474646;
}
.page-footer a {
  text-decoration: none;
  color: #000000;
  margin-top: 0;
  margin-bottom: 14px;
}
.reset-margin-padding {
  margin: 0;
  padding: 0;
}

.page-footer-container {

  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.footer-social {
    width: 300px;
    margin-right: 130px;
  }
.footer-social-list{
  list-style-type: none;
}
.htmlacademy-link {
  width: 200px;
  margin: 0 auto;
}
.footer-contacts-address-phone {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40x;
  font-weight: 700;
}
